*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #8d6f6fcb;
    color: white;
}
h1{
    text-align: center;
    margin-top: 150px;
}
h2{
    font-size: 17px;
    text-align: center;
    margin-top: 50px;
    font-weight: normal;
    margin-bottom: 150px;
}
.flex{
    display: flex;
    width: 100%;
}
.center{
    justify-content: center;
}
.filtro-imagenes{
    letter-spacing: 3px;
    color: blanchedalmond;
}
.seccion{
    width: 100%;
    margin-bottom: 150px;
}
.botones{
    justify-content: space-around;
    width: 600px;
    margin: auto;
    margin-top: 50px;
}
.imagenes h5{
    color: blanchedalmond;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}
.imagenes h5:hover{
    color: rgb(31, 31, 31);
    background-color: rgba(252, 208, 143, 0.247);
    padding: 20px;
    border-radius: 100px;
    transition: 0.5s;
    cursor: pointer;
}
button{
    padding: 15px 40px;
    border: none;
    background-color: blanchedalmond;
    transition: 0.5s;
}
button:hover{
    background-color: rgb(252, 208, 143);
    transition: 0.5s;
}
.imagenes{
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    width: 900px;
    margin-bottom: 200px; 
}
img{
    width: 26%;
    margin-bottom: 25px; 
}
.imagen{
    width: 300px;
    height: 300px;
    position: relative;
}
.imagen img{
    width: 100%;
    height: 100%;
}
.desplaza{
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.521);
    align-items: center;
    transform: translateY(-300px);
    transition: 0.5s;
}
.imagen:hover .desplaza{
    transform: translateY(0px);
    transition: 0.3s;
}
.imagen h4{
    position: absolute;  
}
.mueve{
	position: absolute;
	width: 100%;
	animation-name: mueve;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}
.marcoFoto{
    overflow: hidden;
}
.imagengrande{
    background-color: rgba(0, 0, 0, 0.39);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    align-items: center;
    display: none;
}
.imagengrande img{
    width: 60%;
    height: 30%;
    z-index: 4;
}